body{
    height: 100vh;
    width: 98.4vw;
}
header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #198CE0;
    color: #FFFFFF;
}
.hamburguer{
    position: absolute;
    left: 0;
    height: 100px;
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/Vectorhamburguer.svg);
    cursor: pointer;
}
.opcoes{
    left: -20px;
    top: 100px;
    width: 200px;
    text-align: justify;
    height: min-content;
    position: fixed;
    background-color: rgb(255, 255, 255);
    transition: 1s;
}
.escondido{
    left: -204px;
}
.opcoes ul{
    list-style: none;
}
.opcoes li{
    border: 2px dotted black;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    cursor: pointer;
}
.opcoes li:hover{
    background-color: #198CE066;
}